<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://sites.google.com/site/gearapplications/appsgear" version="1.2.1" viewmodes="fullscreen">
    <tizen:application id="1qlPb5JCSf.AppsGear" package="1qlPb5JCSf" required_version="2.2"/>
    <author href="https://sites.google.com/view/gearsoftware/applications/appsgear" email="rumataestorish@yandex.ru">Rumata</author>
    <content src="index.html"/>
    <description>List and get details of installed applications</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon_launcher.png"/>
    <name>AppsGear</name>
    <tizen:privilege name="http://tizen.org/privilege/application.info"/>
    <tizen:privilege name="http://tizen.org/privilege/package.info"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
